/* <-----------------------------> */
/* <-----------------------------> */
ul{
    color: #5B5B5B;
    padding: 0;
}
ul li{
    color: #5B5B5B;
}
h2{
    font-size: 48px;
    font-weight: 500;
    color:  #0D1317;
    line-height: 56px;
}
/* <-----------------------------> */
/* <-----------------------------> */
.orange{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.section-2-or{
    top: 250px;
    left: 10px;
    position: relative;
    border-radius: 20px;
    width: 95px;
    height: 97px;
    background-color: #f58a07;
    background-blend-mode: multiply;
    
}
/* .section-3-or{
    top: 900px;
    left: 30px;
    position: absolute;
    border-radius: 20px;
    width: 95px;
    height: 97px;
    background-color:#f58a07d0;
}
.section-4-or{
    top: 900px;
    left: 30px;
    position: absolute;
    border-radius: 20px;
    width: 95px;
    height: 97px;
    background-color:#f58a07d0;
}
.section-5-or{
    top: 900px;
    left: 30px;
    position: absolute;
    border-radius: 20px;
    width: 95px;
    height: 97px;
    background-color:#f58a07d0;
}
.section-6-or{
    top: 900px;
    left: 30px;
    position: absolute;
    border-radius: 20px;
    width: 95px;
    height: 97px;
    background-color:#f58a07d0;
} */

/* <-----------------------------> */
/* <-----------------------------> */
.page-2 div{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* <-------------section-1----------------> */
/* <-------------section-1----------------> */
.section-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-1 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 .left h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
}

.section-1 .left p {
    color: #5B5B5B;
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-1 .left a {
    background: #F58A07;
    border-radius: 27px;
    color: white;
    width: 171px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* <-------------section-2----------------> */
/* <-------------section-2----------------> */
.section-2{
    display: flex;
    align-items: center;
}
/* .section-2 img{
    background-image: url(/images/page2-2-.png);
    background-blend-mode: multiply;
    background-color:red;
} */
.section-2 .right{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 60px 0px 60px;
    
}
.section-2 .right h2{
    font-size: 48px;
    font-weight: 500;
    color:  #0D1317;
    line-height: 56px;
}
.section-2 .right p{
    width: 90%;
    margin: 0;
}
.section-2 .right ul{
    padding: 20px;
    margin: 0;
    height: 100px;
}
.section-2 .right ul li{
    margin: 10px 0px 10px 0px;
}
/* <-------------section-3----------------> */
/* <-------------section-3----------------> */

.section-3{
    display: flex;
    align-items: center;
}
.section-3 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-3 .left p{
    width: 78%;
}
/* <-------------section-4----------------> */
/* <-------------section-4----------------> */
.section-4{
    display: flex;
    align-items: center;
}
.section-4 .right{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 60px 0px 60px;
    
}
.section-4 .right h2{
    font-size: 48px;
    font-weight: 500;
    color:  #0D1317;
    line-height: 56px;
}
.section-4 .right p{
    width: 90%;
    margin: 0;
}
.section-4 .right ul{
    padding: 20px;
    margin: 0;
    height: 100px;
}
.section-4 .right ul li{
    margin: 10px 0px 10px 0px;
}
/* <-------------section-5----------------> */
/* <-------------section-5----------------> */
.section-5{
    display: flex;
    align-items: center;
}
.section-5 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-5 .left p{
    width: 77%;
}
/* <-------------section-6----------------> */
/* <-------------section-6----------------> */
.section-6{
    display: flex;
    align-items: center;
}
.section-6 .right{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 60px 0px 60px;
    
}
.section-6 .right h2{
    font-size: 48px;
    font-weight: 500;
    color:  #0D1317;
    line-height: 56px;
}
.section-6 .right p{
    width: 90%;
    margin: 0;
}
.section-6 .right ul{
    padding: 20px;
    margin: 0;
    height: 100px;
}
.section-6 .right ul li{
    margin: 10px 0px 10px 0px;
}
/* <-------------section-7----------------> */
/* <-------------section-7----------------> */
.section-7 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.section-7 .left {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content:space-between;
    align-items: flex-start;
    height: 350px;
}
.section-7 .left p{
    width: 85%;
    padding: 0;
}

.section-7 .left img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
.section-7 .left h4{
    margin: 0;
    font-weight:500;
    font-size: 48px;
    line-height:56px ;
}
.section-7 .left .foot{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.section-7 .left .foot div{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.section-7 .left .foot div h6{
    color: #063255;
    margin: 0; 
    font-size: 24px;
    font-weight: 400;
}
.section-7 .left .foot div a{
    color: #F58A07;
}
.section-7 .right img {
    width: 620px;
    height: 500px;
    
}


/* <-------------section-8----------------> */
/* <-------------section-8----------------> */

.section-8{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 800px;
}
.section-8 h4{
    color: #0D1317;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
}
.section-8 .main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.section-8 .main .card{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-8 .main .card div{
    padding: 30px;
}
.section-8 .main .card img{
    border-radius: 20px 20px 0px 0px;
}

.section-8 .main .card div h3{
    color: #0D1317;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.section-8 .main .card div a{
    color: #F58A07;
}
.section-8 .main .card div a:after {
    padding: 10px;
    content: '\2192';
}
 